$default:#fff;
$bg:#000;
$accent:#db332a;
$line:#4d4d4d;



%pointer{
  cursor:pointer;
}

%btn{
  border:none;
  cursor:pointer;
}
%lk-btn{
  text-transform: uppercase;
  background-color: $accent;
  border-radius: 5px;
  padding:10px 30px;
}
%roboto-400{
  font-family:'Roboto-Regular';
  font-weight:400;
}
%roboto-700{
  font-family: 'Roboto-Bold';
  font-weight: 700;
}