@import 'vars';
@import 'reset';
@import 'libs';
@import 'fonts';
@import 'global';


// slider
.slider{
  &__inner{
    margin-top:120px;
    .slick-slider {
      padding-left: 0;
    }
  }
  &__item{
    min-height:900px;
    background-position: 0 25%;
    background-size: cover;
  }
  &__container{
    max-width:1200px;
    width: 100%;
    margin:0 auto;
    padding: 0 10px;
  }
  &__text-box{
    width:45%;
    margin: 120px 0 0 auto;
    padding:5px;
  }
  &__subtitle{
    text-transform: uppercase;
    font-size: 36px;
    line-height: 60px;
    letter-spacing: 2px;
  }
  &__title{
    @extend %roboto-700;
    font-size: 70px;
    line-height: 80px;
    letter-spacing: 1.6px;
    margin-bottom: 30px;
  }
  &__text{
    letter-spacing: 1px;
    margin-bottom: 40px;
  }
  &__link-btn{
    @extend %lk-btn;
  }
}
.slick-dots{
  display:flex;
  justify-content:center;
  button{
    padding: 0;
    margin: 0;
    font-size: 0;
    line-height: 0;
    border:none;
    background-color: #333;
    width:10px;
    height:10px;
    border-radius:50%;
    margin:5px
  }
  .slick-active{
    button{
      background-color: $accent;
    }
  }
}
// end slider

// info
.info{
  padding:40px 0 0;
  &__inner{
    display:flex;
    justify-content:space-around;
    align-items:baseline;
    position:relative;
    ::after{
      content:'';
      position:absolute;
      bottom:0;
      left:0;
      right:0;
      width:100%;
      height: 1px;
      background-color: $line;
    }
  }
  &__item{
    text-align: center;
    max-width:250px;
    margin-bottom: 70px;
  }
  &__item-icon{
    margin: 0 auto;
  }
  &__item-title{
    @extend %roboto-700;
    text-transform: uppercase;
    font-size: 25px;
    line-height: 75px;
  }
}
// end info

// product
.product{
  padding:50px 0;
  position:relative;
  z-index:1;
  &::before{
    content:'';
    position:absolute;
    z-index:-1;
    left:0;
    right:0;
    top:0;
    bottom:0;
    width:100%;
    background-image: url('../images/product/bg-1.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &::after{
    content:'';
    position:absolute;
    z-index:-1;
    left:0;
    right:0;
    top:0;
    bottom:0;
    width:100%;
    background-image: url('../images/product/bg-2.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &_top{
    margin-bottom: 54px;
  }
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    max-width:320px;
    height:398px;
    padding:65px 40px;
    overflow: hidden;
    width:100%;
    background-size: auto;
    background-position: center top;
    text-align: center;
    position:relative;
    transition:all .3s;
    &::before{
      content:'';
      position:absolute;
      top:0;
      bottom:0;
      left:0;
      right:0;
      background-color:$bg;
      opacity:0.5;
      transition:all .3s;
    }
    &:hover{
      transition:all .3s;
      .product__item-title{
        opacity:0;
        z-index:-1;
        transition:all .3s;
      }
      .product__details{
        transition:all 1s;
        z-index: 5;
        opacity:1;
      }
      &::before{
        transition:all 1s;
        z-index:-1;
        opacity:0;
      }
    }
  }
  &__item-title{
    font-size: 25px;
    line-height: 38px;
    letter-spacing: 1px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    transition:all .3s;
  }
  &__details{
    position:relative;
    z-index:-1;
    opacity:0;
    transition:all .3s;
  }
  &__details-icon{
    margin: 0 auto 30px;
  }
  &__details-title{
    font-size: 19px;
    line-height: 60px;
    margin: 0;
    letter-spacing: 0.5px;
  }
  &__details-text{
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  &__details-link{
    @extend %lk-btn;
    font-size: 14px;
    letter-spacing: 1px;
    padding:10px 25px;
  }
}
// end product
// clients
.client{
  padding:20px 0;
  &__inner{
    padding:80px 0;
    position:relative;
    &::before,
    &::after{
      content:'';
      position:absolute;
      width:100%;
      height:1px;
      background-color: $line;
    }
    &::before{
      top:0;
    }
    &::after{
      bottom:0;
    }
  }
  &__slider-item{
    max-width:200px;
    height:90px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  &__slider-item--color{
    &:hover{
      background-image: url('../images/clients/elektronik-logo-color.png') !important;
    }
  }
  .slick-slider{
    padding-left:110px;
  }
}
// slick-clients
.slick-arrow{
  font-size: 0;
  line-height: 0;
  border:none;
  background-color:transparent;
  width:13px;
  height:25px;
  @extend %pointer; 
}
.slick-prev{
  position:absolute;
  top:50%;
  transform: translateY(-50%);
  left:-70px;
  background-image: url('../images/icons/slider-arrow-prev.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.slick-next{
  position:absolute;
  right:-70px;
  top:50%;
  transform: translateY(-50%);
  background-image: url('../images/icons/slider-arrow-next.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
//end slick-clients
// end clients

@import 'media';