// header
.header{
  background-color: $bg;
  position:absolute;
  left:0;
  right:0;
  z-index:50;
  &__inner{
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap:wrap;
  }
}
.phone{
  display:block;
  position:relative;
  margin:0 auto;
  padding-left: 42px;
  &::before{
    content:'';
    position: absolute;
    left:0;
    top:50%;
    transform: translateY(-50%);
    width: 28px; 
    height: 30px;
    background: url('../images/header-sprite.png') -10px -10px;
  }
  &__text{
    display:block;
    color:$accent;
    font-size: 14px;
    line-height: 14px;
  }
  &__item{
    display:inline-block;
    position:relative;
  }
  &__number{
    font-size: 22px;
    font-weight: bold;
    line-height: 22px;
    padding:0 5px;
  }
  &__btn{
    height:25px;
    vertical-align:middle;
  }
  &__list{
    display:none;
    width:100%;
    position:absolute;
    left:0;
    z-index:56;
  }
  &__list-item{
    background-color: $bg;
    padding:12px 10px 10px;
  }
  &__list-link{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: color .3s;
    &:hover{
      color:$accent;
    }
  }
}
.language{
  display:flex;
  align-items: center;
  position:relative;
  margin: 0 25px 0 4px;
  @extend %pointer;
  &__item{
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color:$accent;
    position:relative;
    padding:0 6px 0 35px;
    &::before{
      content:'';
      position:absolute;
      top:50%;
      transform: translateY(-50%);
      left:0;
      width: 24px; 
      height: 15px;
      background: url('../images/header-sprite.png') -54px -60px;
    }
  }
  &__list{
    opacity:0;
    z-index:-1;
    position: absolute;
  }
  &__list-item{
    position:relative;
    &::after{
      content:'';
      position:absolute;
      z-index:56;
      top:50%;
      transform: translateY(-50%);
      right:0;
      width: 24px; 
      height: 15px;
    }
  }
  &__list-item--ru::after{
    background: url('../images/header-sprite.png') -58px -10px;
  }
  &__list-item--pl::after{
    background: url('../images/header-sprite.png') -10px -60px;
  }
  
  &__list-active{
    transition:opacity 1s;
    opacity:1;
    position: absolute;
    top:40px;
    left:0;
    z-index:56;
    .language__list-item{
      background-color: $bg;
      padding:0 35px 0 5px;
      }
  }
  &__link{
    text-transform: uppercase;
    font-size: 18px;
    line-height: 22px;
    &:hover{
      color:$accent;
    }
  }
}
.menu-drop{
  position:absolute;
  top:100%;
  background-color: $default;
  z-index:-1;
  display:none;
  left: 0;
  right: 0;
  text-align: center;
  &__item{
    padding:10px 20px;
  }
  &__item-link{
    color:$bg;
    transition:color .3s;
    &:hover{
      color:$accent;
    }
  }
}
.menu{
  &__list{
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list-link--checked{
    color:$accent;
  }
  &__list-item + .menu__list-item{  
    margin-left: 30px;
  }
  &__list-item{
    padding:45px 0 45px;
  }
  &__list-link{
    @extend %roboto-400;
    text-transform: uppercase;
    transition: color .3s;
    &:hover{
      color:$accent;
    }
  }
  &__list-poppup{
    padding-right:15px;
    .menu__list-link {
      position:relative;
      &::after{
        content:'';
        position:absolute;
        top:50%;
        right:-20px;
        transform: translateY(-50%);
        width: 9px; 
        height: 7px;
        background: url('../images/header-sprite.png') -10px -95px;
      }
    }
    &:hover{
      .menu__list-link {
        color:$accent;
        &::before{
          content:'';
          position:absolute;
          border: 7px solid transparent;
          border-bottom: 10px solid $default;
          bottom: -50px;
          left:50%;
          transform: translateX(-50%);
        }
        &::after{
          background: url('../images/header-sprite.png') -102px -47px;
        }
      }
      & .menu-drop{
        display:flex;
        justify-content: center;
        flex-wrap:wrap;
        z-index:56;
      }
    }
  }
  &__list-btn{
    @extend %btn;
    background-color: transparent;
    width: 9px; 
    height: 7px;
    background: url('../images/header-sprite.png') -10px -95px;
  }
  &__btn{
    border:none;
    background-color: transparent;
    padding:0;
    margin:0;
    position:absolute;
    top:20px;
    right:20px;
    width:60px;
    height:60px;
    z-index:56;
    background-position: center center;
    @extend %pointer;
    outline-color:$accent;
    border-color:transparent;
    outline: none;
    display:none;
      path{
      fill:$default;
      }
      .ham {
        transition: transform .4s;
        user-select: none;
      }
      .line {
        fill:none;
        transition: stroke-dasharray .4s, stroke-dashoffset .4s;
        stroke:$default;
        stroke-width:5.5;
        stroke-linecap:round;
      }
      .ham2 .top {
        stroke-dasharray: 40 121;
      }
      .ham2 .bottom {
        stroke-dasharray: 40 121;
      }
      .ham2.active .top {
        stroke-dashoffset: -102px;
      }
      .ham2.active .bottom {
        stroke-dashoffset: -102px;
      }
  }
}
.search-btn{
  @extend %btn;
  background-color: transparent;
  width: 21px; 
  height: 17px;
  background: url('../images/header-sprite.png') -102px -10px;
  &__form{
    display:flex;
    align-items: center;
    position: absolute;
    background-color: $bg;
    padding-right:20px;
    right:20px;
    top:100%;
    opacity:0;
    z-index:-1;
    transition:opacity 1.3s; 
  }
  &__form--active{
    transition:opacity 1.3s;
    opacity:1;
    z-index:56;
  }
  &__input{
    max-width:400px;
    width:100%;
    color:$accent;
    border-radius:5px;
    padding:0 10px;
    margin-right: 10px;
    font-size: 22px;
    line-height: 45px;
  }
  &__input-btn{
    @extend %btn;
    border-radius:5px;
    width: 21px; 
    height: 17px;
    background: url('../images/header-sprite.png') -102px -10px;
  }
}

// end header
// adaptiv
@media(max-width:1400px){
  .menu{
    &__list-item + .menu__list-item{
      margin-left: 15px;
    }
  }
}
@media(max-width:1360px){
  .header{
    padding-top:20px;
    &__inner{
      justify-content: space-around;
    }
    &__logo{
      margin-right: 25px;
    }
  }
  .phone,
  .language{
    margin-right: 25px;
  }
}
@media(max-width:770px){
  .header{
    padding-bottom:20px;
    &__inner{
      display:block;
      text-align: center;
    }
    &__logo{
      margin: 0;
    }
    &__logo-link{
      display:block;
      max-width:280px;
      width:100%;
    }
  }
  .phone{
    max-width:270px;
    width:100%;
    margin:10px auto ;
    &::before{
      left:0;
    }
  }
  .menu{
    &__list{
      display: block;
      background-color: $bg;
      position:absolute;
      left:0;
      right:0;
      transform:translateX(-200%);
      transition:transform .3s;
    }
    &__list--active{
      transition:transform 1.5s;
      transform: translateX(0%);
    }
    &__list-item + .menu__list-item{
      margin-left: 0;
    }
    &__list-item{
      margin:0 0 10px;
      padding:5px;
      & .menu__list-poppup{
        padding:0;
      }
    }
    &__list-link{
      padding:10px;
    }
    &__list-poppup{
      .menu__list-link {
        position:static;
        &::after{
          display:none;
        }
      }
      &:hover{
        .menu__list-link {
          &::before{
            display:none;
          }
        }
        & .menu-drop{
          display:none;
        }
        &::after{
          display:none;
        }
      }
    }
    &__btn{
      display:block;
    }
  }
  .language{
    display:inline-block;
    &__item{
      display:inline-block;
    }
  }
}

@media(max-width:420px){
  .header{
    padding:10px 0 10px;
    &__logo-link{
      max-width:200px;
    }
  }
  .menu{
    &__btn{
      top:0;
    }
  }
}
// end adaptiv