// product
.product{
  padding:60px 0;
  position:relative;
  z-index:1;
  &::before{
    content:'';
    position:absolute;
    z-index:-1;
    left:0;
    right:0;
    top:0;
    bottom:0;
    width:100%;
    background-image: url('../images/product/bg-1.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &::after{
    content:'';
    position:absolute;
    z-index:-1;
    left:0;
    right:0;
    top:0;
    bottom:0;
    width:100%;
    background-image: url('../images/product/bg-2.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__top{
    margin-bottom: 54px;
    padding: 0 160px;
  }
  &__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    column-gap:18px;
    row-gap:20px;
  }
  &__item{
    max-width:320px;
    height:398px;
    padding:60px 35px;
    overflow: hidden;
    width:100%;
    background-size: auto;
    background-position: center top;
    text-align: center;
    position:relative;
    transition:all .3s;
    &::before{
      content:'';
      position:absolute;
      top:0;
      bottom:0;
      left:0;
      right:0;
      background-color:$bg;
      opacity:0.5;
      transition:all .3s;
    }
    &:hover{
      transition:all .3s;
      .product__item-title{
        opacity:0;
        z-index:-1;
        transition:all .3s;
      }
      .product__details{
        transition:all 1s;
        z-index: 5;
        opacity:1;
      }
      &::before{
        transition:all 1s;
        z-index:-1;
        opacity:0;
      }
    }
  }
  &__item-title{
    font-size: 25px;
    line-height: 38px;
    letter-spacing: 1px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -63%);
    transition:all .3s;
  }
  &__details{
    position:relative;
    z-index:-1;
    opacity:0;
    transition:all .3s;
  }
  &__details-icon{
    margin: 0 auto 10px;
  }
  &__details-title{
    &.title{
    font-size: 19px;
    line-height: 60px;
    margin: 0;
    letter-spacing: 0.5px;
    }
  }
  &__details-text{
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 14px;
  }
  &__details-link{
    @extend %lk-btn;
    font-size: 14px;
    letter-spacing: 1px;
    padding:8px 15px;
  }
}
// end product
// adaptiv
@media(max-width:1360px){
  .product{
    &__inner{
      justify-content:space-around;
    }
    &__item{
     max-width:40%;
    }
  }
}
@media(max-width:1050px){
  .product{
    &__top{
      padding:0 100px;
    } 
    &__item{
      padding:45px 20px;
    } 
    &__details-icon{
      margin-bottom: 15px;
    }
    &__details-title{
      &.title{
        line-height: 30px;
      }
    }
  }
}
@media(max-width:770px){
  .product{
    &__inner{
      padding:0 20px;
    }
    &__top{
      padding:0;
    } 
    &__item{
      min-height:398px;
      height:auto;
      overflow:visible;
      max-width:100%;
      background-size: cover;
    }
    &__details-title{
      &.title{
        font-size: 19px;
        line-height: 25px;
        margin-bottom: 5px;
        letter-spacing: 0.5px;
      }
    }
  }
}
@media(max-width:420px){
  .product{
    &__item{
      padding:25px 10px;
    }
    &__item-title{
      line-height: 28px;
      &.title{
        font-size: 22px;
        line-height: 42px;
        margin-bottom: 20px;
        text-transform: uppercase;
        text-align: center;
      }
    }
  }
}
// end adaptiv