// footer
.footer{
  padding:75px 0 70px;
  background-color: $bg;
  &__logo-img{
    margin: 0 auto 25px;
  }
  &__social{
    text-align: center;;
  }
  &__social-icon{
    display:inline;
    margin:7px;
  }
  &__copy-text{
    font-size: 14px;
    line-height: 24px;
    color:$line;
  }
  
}
.footer-menu{
  margin-bottom: 13px;
  padding:0 170px;
  &__list{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  &__list-link{
    text-transform: uppercase;
    color:$line;
    font-size: 14px;
  }
  &__list-link--checked{
    color:$accent;
  }
}
// end footer

// adaptiv
@media(max-width:1050px){
  .footer-menu{
    padding:0 100px;
    &__list{
      row-gap: 10px;
    }
    &__list-item{
      margin:0 10px;
    }
  }
}
@media(max-width:770px){
  .footer{
    padding:50px 0;
  }
  .footer-menu{
    padding:0;
  }
}
@media(max-width:420px){
  .footer-menu{
    &__list{
      flex-direction: column;
    }
  }
}
// end adaptiv