<!DOCTYPE html>
<html lang="ua">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/index.min.css">
  <title>Продукція</title>
</head>
<body id="home">
  <div class="wrapper">
    {% include 'app/modules/header/_header.html'%}
    <main class="main">
      {% include 'app/modules/anchor/_anchor.html'%}
      {% include 'app/modules/slider/_slider.html'%}
      {% include 'app/modules/info/_info.html'%}
      {% include 'app/modules/product/_product.html'%}
      {% include 'app/modules/client/_client.html'%}
    </main>
    {% include 'app/modules/footer/_footer.html'%}
  </div>
  <script src="js/main.min.js"></script>
</body>
</html>
