<!DOCTYPE html>
<html lang="ua">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/index.min.css">
  <title>Продукція</title>
</head>
<body id="home">
  <div class="wrapper">
    {% include 'app/modules/header/_header.html'%}
    <main class="main">
      <a class="anchor" href="#home">
      </a>
      <div class="slider__inner">
        <div class="slider__item" style="background-image:url('images/slider/slider-photo.jpg');">
          <div class="slider__container">
            <div class="slider__text-box">
              <h2 class="slider__subtitle">
                ПРОМИСЛОВЕ
              </h2>
              <h1 class="slider__title">
                Кліматичне
                Обладнання
              </h1>
              <p class="slider__text">
                Працює з кращими постачальниками комплектуючих
                з усього світу, розробляє обладнання стандартного і
                не стандартного виконання.
              </p>
              <a class="slider__link-btn" href="#">
                ДЕТАЛЬНІШЕ
              </a>
            </div>
          </div>
        </div>
        <div class="slider__item" style="background-image:url('images/slider/slider-photo.jpg');">
          <div class="slider__container">
            <div class="slider__text-box">
              <h2 class="slider__subtitle">
                ПРОМИСЛОВЕ
              </h2>
              <h1 class="slider__title">
                Кліматичне
                Обладнання
              </h1>
              <p class="slider__text">
                Працює з кращими постачальниками комплектуючих
                з усього світу, розробляє обладнання стандартного і
                не стандартного виконання.
              </p>
              <a class="slider__link-btn" href="#">
                ДЕТАЛЬНІШЕ
              </a>
            </div>
          </div>
        </div>
        <div class="slider__item" style="background-image:url('images/slider/slider-photo.jpg');">
          <div class="slider__container">
            <div class="slider__text-box">
              <h2 class="slider__subtitle">
                ПРОМИСЛОВЕ
              </h2>
              <h1 class="slider__title">
                Кліматичне
                Обладнання
              </h1>
              <p class="slider__text">
                Працює з кращими постачальниками комплектуючих
                з усього світу, розробляє обладнання стандартного і
                не стандартного виконання.
              </p>
              <a class="slider__link-btn" href="#">
                ДЕТАЛЬНІШЕ
              </a>
            </div>
          </div>
        </div>
        <div class="slider__item" style="background-image:url('images/slider/slider-photo.jpg');">
          <div class="slider__container">
            <div class="slider__text-box">
              <h2 class="slider__subtitle">
                ПРОМИСЛОВЕ
              </h2>
              <h1 class="slider__title">
                Кліматичне
                Обладнання
              </h1>
              <p class="slider__text">
                Працює з кращими постачальниками комплектуючих
                з усього світу, розробляє обладнання стандартного і
                не стандартного виконання.
              </p>
              <a class="slider__link-btn" href="#">
                ДЕТАЛЬНІШЕ
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="info">
        <div class="container">
          <div class="info__inner">
            <div class="info__item">
              <img class="info__item-icon" src="images/icons/quality-icon.png" alt="табличка інфо">
              <h3 class="info__item-title">
                Якість
              </h3>
              <p class="info__item-text">
                Обладнання складається з комплектуючих європейського рівня.
              </p>
            </div>
            <div class="info__item">
              <img class="info__item-icon" src="images/icons/warranty-icon.png" alt="табличка інфо">
              <h3 class="info__item-title">
                Гарантія
              </h3>
              <p class="info__item-text">
                Продукти Trevent мають 24 місяці гарантії.
              </p>
            </div>
            <div class="info__item">
              <img class="info__item-icon" src="images/icons/support-icon.png" alt="табличка інфо">
              <h3 class="info__item-title">
                Підтримка
              </h3>
              <p class="info__item-text">
                Кваліфікований персонал завжди готовий допомогти.
              </p>
            </div>
            <div class="info__item">
              <img class="info__item-icon" src="images/icons/technology-icon.png" alt="табличка інфо">
              <h3 class="info__item-title">
                Технологія
              </h3>
              <p class="info__item-text">
                Використовуються сучасні технології та матеріали.
              </p>
            </div>
          </div>
        </div>
      </div>
      <article class="product" id="products">
        <div class="container">
          <div class="product_top container-content">
            <h2 class="product__title title">
              ПРОДУКЦІЯ
            </h2>
            <p class="porduct__text">
              Використання електрики в якості джерела нагріву отримало свою популярність в деяких випадках. Такі рішення застосовують для реалізації системи опалення в умовах, де немає можливості підключення традиційного теплоносія (води) або де системи опалення планується використовувати тимчасово.
            </p>
          </div>
        </div>
        <div class="container-out">
          <div class="product__inner">
            <div class="product__item" style="background-image:url(images/product/product-1.jpg)">
              <h3 class="product__item-title title">
                ЕЛЕКТРИЧНИЙ НАГРІВ
              </h3>
              <div class="product__details">
                <img class="product__details-icon" src="images/icons/product-icon-1.png" alt="Іконка продукту">
                <h4 class="product__details-title title">
                  ЕЛЕКТРИЧНИЙ НАГРІВ
                </h4>
                <p class="product__details-text">
                  Використання електрики в якості
                  джерела нагріву отримало власну
                  популярність в деяких випадках. 
                </p>
                <a class="product__details-link" href="#">
                  ДЕТАЛЬНІШЕ
                </a>
              </div>
            </div>
            <div class="product__item" style="background-image:url(images/product/product-2.jpg)">
              <h3 class="product__item-title title">
                водяні теплоносії
              </h3>
              <div class="product__details">
                <img class="product__details-icon" src="images/icons/product-icon-1.png" alt="Іконка продукту">
                <h4 class="product__details-title title">
                  водяні теплоносії
                </h4>
                <p class="product__details-text">
                  Використання електрики в якості
                  джерела нагріву отримало власну
                  популярність в деяких випадках. 
                </p>
                <a class="product__details-link" href="#">
                  ДЕТАЛЬНІШЕ
                </a>
              </div>
            </div>
            <div class="product__item" style="background-image:url(images/product/product-3.jpg)">
              <h3 class="product__item-title title">
                Повітряні завіси
              </h3>
              <div class="product__details">
                <img class="product__details-icon" src="images/icons/product-icon-1.png" alt="Іконка продукту">
                <h4 class="product__details-title title">
                  Повітряні завіси
                </h4>
                <p class="product__details-text">
                  Використання електрики в якості
                  джерела нагріву отримало власну
                  популярність в деяких випадках. 
                </p>
                <a class="product__details-link" href="#">
                  ДЕТАЛЬНІШЕ
                </a>
              </div>
            </div>
            <div class="product__item" style="background-image:url(images/product/product-1.jpg)">
              <h3 class="product__item-title title">
                камери припливу
              </h3>
              <div class="product__details">
                <img class="product__details-icon" src="images/icons/product-icon-1.png" alt="Іконка продукту">
                <h4 class="product__details-title title">
                  камери припливу
                </h4>
                <p class="product__details-text">
                  Використання електрики в якості
                  джерела нагріву отримало власну
                  популярність в деяких випадках. 
                </p>
                <a class="product__details-link" href="#">
                  ДЕТАЛЬНІШЕ
                </a>
              </div>
            </div>
            
          </div>
        </div>
      </article>
      <section class="client">
        <div class="container">
          <div class="client__inner">
            <h2 class="client__title title">
              НАМ ДОВІРЯЮТЬ
            </h2>
            <div class="client__slider">
              <div class="client__slider-item" style="background-image: url(images/clients/remak-logo.png);">
              </div>
              <div class="client__slider-item" style="background-image: url(images/clients/reflex-logo.png);">
              </div>
              <div class="client__slider-item client__slider-item--color" style="background-image: url(images/clients/elektronik-logo.png);">
              </div>
              <div class="client__slider-item" style="background-image: url(images/clients/kermi-logo.png);">
              </div>
              <div class="client__slider-item client__slider-item--color" style="background-image: url(images/clients/elektronik-logo.png);">
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    {% include 'app/modules/footer/_footer.html'%}
  </div>
  <script src="js/main.min.js"></script>
</body>
</html>
