// anchor
.anchor{
  position:fixed;
  bottom:5%;
  right:5%;
  border:none;
  border-radius: 5px;
  background-color: $accent;
  width:45px;
  height:45px;
  transform:translateX(90deg);
  z-index:55;
  &::before{
    content:'';
    position:absolute;
    top:6px;
    bottom:6px;
    left:6px;
    right:6px;
    transform:rotate(-90deg);
    background-image: url('../images/icons/slider-arrow-next.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
// end anchor