// info
.info{
  padding:40px 0 0;
  &__inner{
    display:flex;
    justify-content:space-around;
    align-items:baseline;
    flex-wrap:wrap;
    column-gap: 20px;
    position:relative;
    ::after{
      content:'';
      position:absolute;
      bottom:0;
      left:0;
      right:0;
      width:100%;
      height: 1px;
      background-color: $line;
    }
  }
  &__item{
    text-align: center;
    max-width:250px;
    margin-bottom: 70px;
  }
  &__item-icon{
    margin: 0 auto;
  }
  &__item-title{
    @extend %roboto-700;
    text-transform: uppercase;
    font-size: 25px;
    line-height: 75px;
  }
}
.bg-warranty_icon {
  width: 63px; 
  height: 68px;
  background: url('../images/info-sprite.png') -10px -109px;
}
.bg-quality_icon {
  width: 66px; 
  height: 79px;
  background: url('../images/info-sprite.png') -10px -10px;
}
.bg-support_icon {
  width: 68px; 
  height: 68px;
  background: url('../images/info-sprite.png') -185px -10px;
}
.bg-technology_icon {
  width: 69px; 
  height: 68px;
  background: url('../images/info-sprite.png') -96px -10px;
}
// end info
// adaptiv
@media(max-width:1100px){
  .info{
    &__item{
      max-width:40%;
    }
  }
}
@media(max-width:770px){
  .info{
    &__inner{
      flex-direction: column;
      align-items: center;
    }
    &__item{
      max-width:80%;
    }
  }
}
// end adaptiv